body {
    padding-top: 60px;
}
.anchor {
    /* Offset the anchors for the title to be visible when navigating. */
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}
.anchor-link, .anchor-link > span {
    text-decoration: none !important;
}
.route-index .route {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.route-index .route .h2 {
    margin-top: 3px;
    margin-bottom: 10px;
}
.route-index .route:hover {
    background-color: #EEE;
    -webkit-box-shadow: 1px 1px 10px #CCC;
    box-shadow: 1px 1px 10px #CCC;
}
.route-index .full-width-label {
    display: inline-block;
    width: 100%;
}
.route-details .parameters dd {
    margin-left: 10px;
}
.route-details .panel-body {
    padding-top: 0;
    padding-bottom: 15px;
}
.route-details .panel-heading {
    padding-top: 5px;
    background-size: 50px 50px;
    background-color: #DDD;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: -webkit-linear-gradient(315deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(315deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}
.route-details .panel-heading.GET {
    background-color: #D9E8F4;
}
.route-details .panel-heading.PUT {
    background-color: #FCEFDC;
}
.route-details .panel-heading.POST {
    background-color: #DEF1DE;
}
.route-details .panel-heading.DELETE {
    background-color: #F7DDDC;
}
.route-details .panel-heading.OPTIONS {
    background-color: #DEF2F8;
}

.auth::after {
    content: '';
    display: block;
    clear: both;
}

.auth-header,
.auth-value,
.cors-header,
.cors-single-value {
    float: left;
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
}
.auth-header,
.cors-header {
    clear: left;
    font-size: inherit;
    font-weight: bold;
    padding-right: 0.5em;
}
.auth-access {
    clear: left;
    float: left;
    list-style-type: none;
    width: 100%;
}
.auth-access > li:not(:last-child) {
    margin-bottom: 5px;
    width: 100%;
    display: inline-block;
}
.cors-multi-value {
    clear: left;
}
.cors-multi-value > ul {
    margin-bottom: 0;
}

.conditional {
    margin-bottom: 15px;
}

.conditional .consequence-text {
    font-weight: bold;
}
.conditional .condition-key {
    font-style: italic;
    font-weight: bold;
}
.assertion .assertion-key {
    font-style: italic;
    font-weight: bold;
}
.reference {
    font-style: italic;
}

.route-details .type {
    padding: 0;
    margin: 0;
}

.type-header {
    display: inline;
    font-size: 14px;
}
.type-header > h5 {
    display: inline;
    font-size: inherit;
}
.type-header > h5 > a {
    color: inherit;
    text-decoration: none;
}
.type-header > h5 > a:hover,
.type-header > h5 > a:hover {
    text-decoration: none;
}

.more-info {
    padding-right: 5em;
}

.type-header:hover .more-info {
    text-decoration: underline;
}
.type-header:hover ~ .token-open,
.type-header:hover ~ .token-close,
.token-before-open:hover ~ .token-open,
.token-before-open:hover ~ .token-close,
.token-open:hover,
.token-open:hover ~ .token-close {
    font-weight: bold;
}

.list-children,
.list-items {
    padding-left: 1em;
}
.list-children:empty,
.list-items:empty {
    display: none;
}

.well {
    overflow: auto;
    clear: both;
}

.well dt {
    clear: both;
    float: left;
}
.well dd {
    float: left;
}

.well pre {
    background-color: #fff;
}

.field-alternatives > .type-alternatives,
.field-alternatives > .type-array,
.field-alternatives > .type-object {
    padding-bottom: 1em;
}
.field-alternatives > .type:last-of-type {
    padding-bottom: 0;
}

.field-type {
    padding-right: 0.5em;
}
.field-type:before {
    content: ":";
    padding-right: 0.5em;
}
.field-type:first-child:before {
    content: "";
    padding-right: 0;
}
.field-type:empty {
    padding-right: 0;
}

.field-type-rule {
    font-weight: bold;
}

dt.field-example,
dt.field-meta {
    float: none;
}
