<!DOCTYPE html>
<html lang="en">
<head>
    <title>Documentation for REST routes</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body { padding-top: 60px; }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Route Documentation</a>
        </div>
    </div>
    <div class="container">
        <ul class="list-unstyled">
        {{#each routes}}
            <li class="route">
                <h2>{{this.method}}: <a href="?path={{this.path}}">{{this.path}}</a></h2>
                {{#if this.tags}}
                <p class="tags">{{this.tags}}</p>
                {{/if}}
            </li>
        {{/each}}
        </ul>
    </div>
</body>
</html>
