<!DOCTYPE html>
<html lang="en">

<head>
    <title>Documentation for REST routes</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href=".{{@cssBaseUrl}}/style.css" rel="stylesheet">
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Route Documentation{{#if @apiVersion}} - v{{@apiVersion}}{{/if}}</a>
            </div>
        </div>
    </div>
    <div class="container">
        {{#each this}}
        <pre class="h3 server-uri-block"><span class="text-muted server-uri-prefix">Routes for </span><span class="server-uri">{{this.info.uri}}</span></pre>
        <div class="route-index">
            {{#each this.table}}
            <a href="?server={{../info.uri}}&path={{this.path}}#{{this.method}}">
                <div class="row route">
                    <div class="col-md-2 h2">
                        <span class="{{colorFromMethod this}} full-width-label">
                            {{this.method}}
                        </span>
                    </div>
                    <div class="col-md-10 h2">
                        <div class="pull-right">
                            {{#each this.tags}}
                            <div class="badge">{{this}}</div>
                            {{/each}}
                        </div>
                        {{this.path}}
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
        {{/each}}
    </div>
</body>

</html>
