<li>
    <h5><em>{{this.name}}</em>
        {{#if this.required}}
        <i class="glyphicon glyphicon-star" title="This is a required field."></i>
        {{/if}}
    </h5>
    {{#if this.description}}
    <p>{{this.description}}</p>
    {{/if}}
    <dl class="type">
        <dt><h6>Type</h6></dt>
        <dd>{{this.type}}</dd>
        {{#if this.allowedValues}}
            <dt>Allowed Values</dt>
            {{#each this.allowedValues}}
                <dd>{{this}}</dd>
            {{/each}}
        {{/if}}
        {{#if this.disallowedValues}}
            <dt>Forbidden Values</dt>
            {{#each this.disallowedValues}}
                <dd>{{this}}</dd>
            {{/each}}
        {{/if}}
        {{#if this.children}}
            <dt>Properties</dt>
            <dd>
                <ul class="list-unstyled">
                {{#each this.children}}
                    {{> type}}
                {{/each}}
                </ul>
            </dd>
        {{/if}}
        {{#if this.alternatives}}
            <dt>Alternatives</dt>
            <dd>
                <ul class="disc-bullets reduced-margin-list">
                    {{#each this.alternatives}}
                        {{> type}}
                    {{/each}}
                </ul>
            </dd>
        {{/if}}
        {{#if this.rules}}
            {{#if this.rules.includes}}
                <dt>Includes</dt>
                <dd>
                    <ul class="disc-bullets reduced-margin-list">
                    {{#each this.rules.includes}}
                        {{> type}}
                    {{/each}}
                    </ul>
                </dd>
            {{/if}}
            {{#if this.rules.excludes}}
                <dt>Excludes</dt>
                <dd>
                    <ul class="disc-bullets reduced-margin-list">
                    {{#each this.rules.excludes}}
                        {{> type}}
                    {{/each}}
                    </ul>
                </dd>
            {{/if}}
        {{/if}}
    </dl>
</li>
